.container {
  margin-top: 32px;
  margin-left: 16px;
}

.title {
  font-weight: 600;
  line-height: 24px;
  color: #5b5b5b;
  margin-bottom: 20px;
}

.wrapper {
  overflow: auto;
  white-space: nowrap;
  color: #c1c1c1;
  font-size: 24px;
  line-height: 32px;
}

.time {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

.active {
  display: inline-block;
  color: #33bde4;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04);
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
